PORT=5002
MONGODB_URI=
JWT_SECRET=
BACKEND_URL=http://localhost:5002
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# Local development callback
GOOGLE_CALLBACK_URL=http://localhost:5002/api/auth/google/callback
FRONTEND_URL=http://localhost:5175
ALLOWED_ORIGINS=http://localhost:5175,https://tnp-lilac.vercel.app
